<div>
    {{#each arr as |element|}}

    {{#if element.tweet}}

    <div>
        <small class="ml-5"> <i class="fa fa-retweet text-muted"></i> <a class=" text-body text-muted"
                href="/user/{{../handle}}"> {{../name}} Retweeted</a></small>
    </div>
    <div class="media border-bottom mt-2">
        <img src="https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170400314/75968328-avatar-of-a-man-in-a-shirt-avatar-and-face-single-icon-in-cartoon-style-vector-symbol-stock-illustra.jpg"
            height="50px" width="50px" class="mr-3" alt="avatar">
        <div class="media-body">
            <h5 class="mt-0 d-inline-flex "><a class="link-rm-defaults text-body"
                    href="/user/{{element.tweet.handle}}">{{element.tweet.name}} </a></h5>
            <span class="d-inline-flex text-muted small">
                <h6 class="font-weight-normal">@{{element.tweet.handle}}</h6>
            </span>
            <span class="d-inline-flex text-muted small"> | {{element.createdAt}}</span>
            <p class="mb-2">
                {{element.tweet.text}}
            </p>
            <div class="mb-1 pl-2">
                <a href="#" class="link-rm-defaults text-muted">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-heart-o"></i></h6> {{element.tweet.likeCount}}
                    </span>
                </a>

                <a href="#" class="link-rm-defaults text-muted ">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-comment-o"></i></h6> {{element.tweet.replyCount}}
                    </span>
                </a>

                <a href="#" class="link-rm-defaults text-muted">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-retweet"></i></h6> {{element.tweet.retweetCount}}
                    </span>
                </a>
            </div>
        </div>
    </div>

    {{else}}

    <div class="media border-bottom mt-4">
        <img src="https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170400314/75968328-avatar-of-a-man-in-a-shirt-avatar-and-face-single-icon-in-cartoon-style-vector-symbol-stock-illustra.jpg"
            height="50px" width="50px" class="mr-3" alt="avatar">
        <div class="media-body">
            <h5 class="mt-0 d-inline-flex "> <a class="link-rm-defaults text-body" href="#">{{element.name}}</a></h5>
            <span class="d-inline-flex text-muted small">
                <h6 class="font-weight-normal">@{{element.handle}}</h6>
            </span>
            <span class="d-inline-flex text-muted small"> | {{element.createdAt}}</span>
            <p class="mb-2">
                {{element.text}}
            </p>
            <div class="mb-1 pl-2">

                <a href="#" class="link-rm-defaults text-muted ">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-comment-o"></i></h6> {{element.replyCount}}
                    </span>
                </a>

                <a href="#" class="link-rm-defaults text-muted">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-retweet"></i></h6> {{element.retweetCount}}
                    </span>
                </a>

                <a href="#" class="link-rm-defaults text-muted">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-heart-o"></i></h6> {{element.likeCount}}
                    </span>
                </a>

            </div>
        </div>
    </div>

    {{/if}}

    {{/each}}

</div>