<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/favicon.ico">
    <title>Vijay Pagare (@pagarevijayy)</title>
</head>

<body>

    <div class="container">
        <div class="row">
            {{!-- Left panel --}}
            {{>leftPanel}}

            {{!-- Right panel --}}
            <div class="col-9">
                {{!-- top notation --}}
                <div class="mt-3 border-bottom sticky-top containe bg-white">
                    <a class="link-rm-defaults font-weight-bolder text-body d-inline-block" href="/home">
                        <span class="text-info">
                            <h5><i class="fa fa-chevron-left"></i></h5>
                        </span>
                    </a>
                    <a class="link-rm-defaults font-weight-bolder text-body d-inline-block pl-2" href="#">
                        <h4><b>{{name}}</b></h4>
                    </a>
                    <span class="text-muted small pl-1">{{totalTweets}} tweets</span>
                </div>

                {{!-- Profile details --}}
                <div class="ml-2 mt-4 mr-2 mb-4 border-bottom">

                    {{!-- Profile details header --}}
                    <div>
                        <img src="https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170400314/75968328-avatar-of-a-man-in-a-shirt-avatar-and-face-single-icon-in-cartoon-style-vector-symbol-stock-illustra.jpg"
                            height="100px" width="100px" class="rounded-circle float-left mr-3" alt="profile picture">
                        <h1 class="display-4"> {{name}} </h1>
                        <span class="text-muted pl-1">@{{handle}}</span>
                        <a class="btn btn-sm btn-outline-primary ml-4 rounded-pill" href="#" role="button">Follow</a>
                    </div>
                    <div class="clearfix mb-2"></div>

                    {{!-- Profile details body --}}
                    <div>
                        <p class="lead border-bottom pb-3 mb-0">{{bio}}<br>
                            <span class="text-muted small pl-1"> <b class="text-body">{{totalFollowing}}</b> following</span>
                            <span class="text-muted small pl-1"> <b class="text-body">{{totalFollowers}}</b> followers</span>
                        </p>
                        <div>
                            <div class="my-2 d-flex justify-content-center">
                                    <a class="link-rm-defaults font-weight-normal text-monospace text-body" href="#">Tweets and Retweets</a>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Tweets and Retweets --}}
                {{>userTimeline}}
            </div>
        </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>